RewriteEngine on
RewriteBase /
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]
RewriteCond %{REQUEST_URI} !^/index\.php
RewriteCond %{REQUEST_URI} !\.(gif|jpg|png|js|css|mp3|ogg|eot|svg|ttf|woff)$
RewriteRule ^([^/]*)/([^.]*).html$ index.php?lang=$1&page=$2 [QSA,L]

ErrorDocument 404 /index.php?page=404.html