<?xml version="1.0" encoding="UTF-8"?>
<translations>
	<EVENTS_MGR_HOME_TITLE><![CDATA[Event Manager]]></EVENTS_MGR_HOME_TITLE>
	<EVENTS_MGR_TITLE><![CDATA[Verwalten Veranstaltungen]]></EVENTS_MGR_TITLE>
	<ARCHIVES_MGR_TITLE><![CDATA[Verwalten Archiv]]></ARCHIVES_MGR_TITLE>
	<ALL_EVENTS_MGR_TITLE><![CDATA[Verwalten Sie alle Veranstaltungen]]></ALL_EVENTS_MGR_TITLE>
	<FORCING_ARCHIVING><![CDATA[Starten Sie die Archivierung]]></FORCING_ARCHIVING>
	<EVENT_PLACE><![CDATA[Platz]]></EVENT_PLACE>
	<EVENT_TITLE><![CDATA[Titel]]></EVENT_TITLE>
	<EVENT_DATE><![CDATA[Datum]]></EVENT_DATE>
	<EVENT_TIME><![CDATA[Zeit]]></EVENT_TIME>
	<CONFIRM_TEXT><![CDATA[Sind Sie sicher, dass Sie dieses Ereignis zu löschen?]]></CONFIRM_TEXT>
	<ADD_EVENT><![CDATA[Eintragen]]></ADD_EVENT>
	<EVENTS_PREVIEW><![CDATA[Vorschau Event]]></EVENTS_PREVIEW>
	<ARCHIVES_PREVIEW><![CDATA[Vorschau Archiv]]></ARCHIVES_PREVIEW>
	<REMOVE_EVENT_SUCCESS><![CDATA[Die Veranstaltung wurde gelöscht]]></REMOVE_EVENT_SUCCESS>
	<SAVE_EVENT_SUCCESS><![CDATA[Ereignis erfolgreich gespeichert]]></SAVE_EVENT_SUCCESS>
	<ERROR_CAN_NOT_SAVE><![CDATA[Kann nicht gespeichert werden]]></ERROR_CAN_NOT_SAVE>
	<REMOVE_EVENT_FAILED><![CDATA[Ereignis zu löschen ist nicht vorhanden]]></REMOVE_EVENT_FAILED>
</translations>